h1 {color: #3863a0;
 font-size: 40px;
}


h2 {color: #3863a0;
 font-size: 25px;
}

p {font-size:16px;
  font-family: sans-serif;
}


body{
 background-color: #A9A9A9;
 background-image: url("logo.png");
 background-repeat: no-repeat;
 background-position: center;
}


ul{
 list-style-type: circle;
 font-family: sans-serif;
}
